server.port=4444
server.maximum.requests=5

# TODO: What is this?
server.document.root=/www

# Default page
server.root=/media/shared/PA/JavaWebServer/pa-web-server-master/javadoc
server.default.page=index
server.default.page.extension=html

# Error page
server.404.root=/media/shared/PA/JavaWebServer/pa-web-server-master/server
server.404.page=404
server.404.page.extension=html
